@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@theme {
  --color-admin-bg: #F0F0F0;
  --color-card-bg: #0000000F;
}
